.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.App {

}

.App-wrapper {
    width: min(100% - 2rem, 70rem);
    margin-inline: auto;
}

.App-logo {
    margin: 10px auto;
    padding: 20px 0;
    width: 144px;
}

.App-logo:hover {
    opacity: 0.7;
}

.App-logo img {
    object-fit: cover;
    width: 100%;
}

header {
    background-color: #252525;
    padding-bottom: 30px;
}

nav {
    background-color: #252525;
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: #f2f2f2;
    text-decoration: none;
}

nav a.is-active {
    font-weight: bold;
    pointer-events: none;
}

nav ul li a:hover {
    background-color: #444;
}