.Movie {
    padding: 20px;
    text-align: center;
    width: 25%;
}

.Movie h3 {
    color: white;
    font-size: 2rem;
}

.Movie-poster {
    display: inline-flex;
    position: relative;
}

.Movie-poster img {
    width: 100%;
}

.Movie-poster:hover .Movie-info {
    display: block
}

.Movie-info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    padding: 50px 25px;
}

